/* App.css com variáveis de cores */

:root {
  --color-1: #003366; /* Azul principal */
  --color-2: #034f9b; /* Azul secundário */
  --color-3: #2bc0f7; /* Azul claro */
  --text-color: #333; /* Cor do texto padrão */
  --background-color: #f4f4f4; /* Cor de fundo */
  --border-color: #ccc; /* Cor da borda */
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

main {
  padding: 1rem;
  height: 100vh;
}

.cards-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin-top: 2rem;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  justify-content: center;
  margin-top: 2rem;
}

.team-member {
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  width: 15rem;
}
