/* Estilo básico do Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--color-1);
  color: white;
}

.logo a {
  display: block;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  text-shadow: 0.2rem 0.2rem 0.2rem black;
  padding: 0.5rem 0.8rem;
  text-align: center;
}

/* Estilo para o botão do menu */
.menu-toggle {
  display: none;
  font-size: 1.8rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Navegação básica */
.nav {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
  gap: 0.5rem;
  justify-content: center;
}

.nav-links a:hover,
.logo a:hover {
  background-color: var(--color-2);
  border-radius: 0.2rem;
  color: var(--color-3);
}

.nav-links a {
  padding: 0.5rem 0.8rem;
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

/* Estilos para telas menores */
@media (max-width: 768px) {
  .logo.hide {
    display: none;
  }

  .menu-toggle {
    display: block; /* Exibe o botão hambúrguer em telas pequenas */
    padding: 1rem;
  }

  .nav {
    display: none; /* Esconde o menu por padrão */
    top: 100%;
    gap: 1rem;
    background-color: #003366;
    width: 100%;
    text-align: center;
  }

  .nav.open {
    display: flex; /* Exibe o menu quando ativo */
  }
}
